
.vs/abet/v15/.suo
.vs/abet/v15/Browse.VC.db
.vs/abet/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
.vs/abet/v15/ipch/AutoPCH/17304924a9e95705/NET.ipch
.vs/abet/v15/ipch/AutoPCH/41a60c573333471c/BITCOINGUI.ipch
.vs/abet/v15/ipch/AutoPCH/7b3f12fd1b4e2f8a/BASE58.ipch
.vs/abet/v15/ipch/AutoPCH/846baba9a0b6c8eb/OVERVIEWPAGE.ipch
.vs/abet/v15/ipch/AutoPCH/abcd3e99a3b792cc/BITCOINGUI.ipch
.vs/abet/v15/ipch/AutoPCH/6b59b7e885fc1af9/OVERVIEWPAGE.ipch
.vs/abet/v15/ipch/AutoPCH/cb20910643235a9/OVERVIEWPAGE.ipch
.vs/abet/v15/ipch/AutoPCH/b374273529afd818/INIT.ipch
.vs/abet/v15/ipch/AutoPCH/b1ea916e2b158361/CLIENTVERSION.ipch
